@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    overflow: scroll; 
    ::-webkit-scrollbar {display: none;} 
}


body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(330deg, rgba(5,10,34,1) 58%, rgba(2,16,69,1) 91%);
}


/*.container_menu #btn_menur{
    display: none;
}*/

.contenedor_menu {
    width: 98%;
    height: fit-content;
    margin: 0;
    margin-top: 20px;
    padding: 10px;
        /*alto maximo herdado de su padre*/
    position:fixed;
    display: flex;
    justify-content:right;/*posicion del logo entre el y el menu*/ 
     
}
section[id]{
    scroll-margin-top: 70px;
}
html{
    scroll-behavior: smooth ;
}
#selected{
    color: red; 
}
/*tamaño de logo y posicion*/
.logo img {
   
    width: 150px;
    display: flex;
}
 .menu {
     display:flex;
     justify-content: center;     
}
li {
    list-style-type: none;
}
.menu ul {
    display: flex; /* alineacion menu horizontal*/
}
.menu ul li {
    margin-left: 36px; /*margen entre opciones de seleciion*/ 
}
.menu ul li a {
    text-decoration: none;/*eliminacion subrayado por defecto el opci*/
    color: #fff; /*color de letra*/
    text-transform: uppercase; /*cambio todo el texto a mayusculas*/
    font-size: 22px;
}
.menu .fa-solid {
    display: none;
}
.menu a:hover{
    color: rgb(16, 145, 184);
}
.marco{
    width: 100%;
    height: 100vh;
    padding: 2px;
    margin: 5px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.contenido img{
    border: solid 6px;
    border-color: rgb(64, 188, 250);
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-bottom: 50px;
    animation:constantHover 9s infinite alternate;
    box-shadow: #2CB3B6 2px 2px 20px 1px;
}

@keyframes constantHover {
    0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    50%{
        border-radius: 45% 55% 48% 52% / 55% 48% 52% 45%;
    }
    100% {
        border-radius: 61% 39% 39% 61% / 50% 50% 50% 50%;
    }
}
.contenido{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2px;
}
.contenido h1{
    display: flex;
    justify-content: left;
    font-size: 60px;
    font-weight: bold;

    background: linear-gradient(330deg, rgba(1,88,198,1) 0%, rgba(34,205,233,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}
.contenido h2{
    display: flex;
    justify-content: left;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase; 
}
.contenido p,a{
    display: flex;
    justify-content: left;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.saludo{
    padding: 20px;
}
.diremail:hover{
    color: rgb(64, 188, 250);
    border-radius: 10px;
    transition:ease ease-in-out .9s;
}

.contenido .botones{
    display: flex;
    justify-content: left;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn{ 
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: rgb(64, 188, 250);
    border: solid 3px;
    border-color: rgb(64, 188, 250);
    box-shadow: #2CB3B6 2px 2px 20px 1px;
    
}
.btnc{ 
    font-size: 20px;
    color: #fff;
    padding: 5px ;
    padding-right: 10px;
    border-radius: 8px;
    background-color: rgb(64, 188, 250);
    border: solid 3px;
    border-color: rgb(64, 188, 250);
    box-shadow: #2CB3B6 2px 2px 20px 1px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btnc:hover{
    color:rgb(64, 188, 250);
    background-color: #191c32;
}

.btn-resumen{
    font-size: 30px;
    font-weight: bold;
    color: rgb(64, 188, 250);
    padding: 15px 20px;
    border-radius: 8px;
    border: solid 3px;
    border-color: rgb(64, 188, 250);
    background-color: transparent;
    margin-right: 15px;
    text-decoration: none;  
}
.btn-resumen:hover{
    color:#fff;
    background-color: rgb(64, 188, 250);
    box-shadow: #2CB3B6 2px 2px 20px 1px;
}
.btn:hover{
    color:rgb(64, 188, 250);
    background-color: #191c32;
}

/* Estilo para el icono de flecha */
.fa-arrow-right {
    animation: moverFlecha 1s linear infinite alternate; /* Animación infinita y alternante */
}
  
  /* Definición de la animación */
  @keyframes moverFlecha {
    0% {
      transform: translateX(0); /* Posición inicial */
    }
    100% {
      transform: translateX(10px); /* Posición final */
    }
  }

.contenido .redes{
    color: #fff;
    display: flex;
    justify-content: space-between; 
}
/*ABOUT*/
.marco-edu{
    margin: 5px;
    padding: 2px;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
.edu{
    height: 90%;
    padding: 5px;
    color: #fff;
}
.edu h1{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: left;

    background: linear-gradient(330deg, rgb(2, 96, 228) 0%, rgb(53, 216, 241) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
.edu  h2{
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(64, 188, 250);
    display: flex;
    justify-content: left;
}
.edu h3{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}
.mini-edu{
    margin-bottom: 50px;
}
.leng{
    display: flex;    
}
.etis{
    margin-right: 20px;  
}
.eti-html, .eti-css, .eti-js,.eti-php,.eti-jv,.eti-sass,.eti-gulp,.eti-spring,.eti-boot,.eti-post,.eti-sql,.eti-int{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.leng-p p{
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.leng-p i{
    margin-right: 10px;
}
.eti-html{
    background-color: rgb(255, 106, 0);
}
.eti-css{
    background-color: rgb(0, 68, 255);
}
.eti-js{
    background-color: rgb(255, 196, 0);
}
.eti-php{
    background-color: rgb(0, 183, 255);
}
.eti-jv{
    background-color: rgb(237, 5, 5);
}
.eti-sass{
    background-color: rgb(186, 2, 253);
}
.eti-gulp{
    background-color: rgb(255, 2, 99);
}
.eti-spring{
    background-color: rgb(75, 213, 0);
}
.eti-boot{
    background-color: rgb(93, 2, 204);
}
.eti-post{
    background-color: rgb(93, 2, 204);
}
.eti-sql{
    background-color: rgb(93, 2, 204);
}
.eti-int{
    background-color: rgb(101, 99, 103);
}

/*PROYECTOS */
.area-proyectos{
    width: 100%;
    height: 100vh;
    margin: 5px;
    padding: 5px;
}
.area-proyectos .titulo-proyecto{
    display: flex;
    justify-content: center;
    text-align: center;
}
.area-proyectos h1{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    padding: 5px;
    /*padding-bottom: 175px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;*/

    background: linear-gradient(330deg, rgb(2, 96, 228) 0%, rgb(53, 216, 241) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.area-proyectos h2{
    font-size: 25px;
    margin-bottom: 5px;
    color: rgb(64, 188, 250);
    display: flex;
    justify-content: left;
}

.area-proyectos h3{
    font-size: 16px;
    color: #fff;
    
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}

.proyectos{
    margin: 5px 100px;
    padding: 0px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.cajas-proyectos{
    background-color: #0a2547ed;
    width: min-content;
    border: 2px solid;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 10PX;
    
}
.cajas-proyectos img{
    width: 400px;
    height: 205px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: #2CB3B6 1px -1px 10px 1px;
}

.cajas-proyectos .contenido-caja{
    padding: 10px;
    margin-top: -3px;
    border-top: 1px solid #fff ;
    border-bottom: 1px solid #2CB3B6;
    border-left: 1px solid #2CB3B6;
    border-right: 1px solid #2CB3B6;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 

}
.botones-proyecto{
    display: flex;
}
.botones-proyecto .btnc1 {
    margin-right: 5px;
    font-size: 20px;
    color: #fff;
    padding: 5px ;
    border-radius: 8px;
    background-color: #191c32;
    border: solid 3px;
    border-color: rgb(64, 188, 250);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnc:hover{
    color:rgb(64, 188, 250);
    background-color: #191c32;
}

.btnc1:hover{
    background-color:rgb(64, 188, 250); 
    box-shadow: #2CB3B6 2px 2px 20px 1px;    
}
.leng-p{
    padding: 5px;
    margin-bottom: 10px;
}

/*CONCTACTO*/

.contacto{
    background-color: #071739;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.grupo-conctacto{
    display: flex;
    color: #fff;
}

.info h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.info h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.cuadro-contacto form{
    width: 450px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #050E1D;
}
.datos label{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.datos input{
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    background-color: #071739;
    border: #595757 1px solid;
    color: #fff;
}
.datos .tex-area{
    height: 250px;
}

.datos{
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.cuadro-contacto .btnc{
    width: 60%;
    padding: 10px;

}

.botones-contacto {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.redes{
    display: flex;
    margin-bottom: 20px;
    margin-top: 50px;
}
.info i{
    font-size: 25px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.redes i {
    border-radius: 50%;
    color: #fff;
    background-color: rgb(64, 188, 250);
    width: 70px;
    height: 70px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.redes i:hover{
    background-color: #050E1D;
    transform: all 2ms;
}





/* RESPONSIVE */
@media (max-width: 1278px) {
    .etis{
        margin-right: 5px;  
    }
    .eti-html, .eti-css, .eti-js,.eti-php,.eti-jv,.eti-sass,.eti-gulp,.eti-spring,.eti-boot,.eti-post,.eti-sql,.eti-int{
        font-size: 12px;
    }
    /*CAJAS PROYECTO*/

    .area-proyectos{
        padding: 5px;
    }
    .cajas-proyectos img{
        width: 380px;
    }
    .proyectos{
        margin: 5px 5px;
    }
    .area-proyectos h1{
        width: 100%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media (max-width: 1200px) {

    /*CAJAS PROYECTO*/
    .cajas-proyectos img{
        width: 350px;
    }
}
@media (max-width: 1120px) {

    /*CAJAS PROYECTO*/
    .cajas-proyectos img{
        width: 300px;
    }
    .cajas-proyectos{
        margin: 5px;
    }
}
@media (max-width: 995px) {

    .contenido img {
        width: 20rem;
        height: 20rem;
    }
    .contenido h1{
    font-size: 45px;
    }
    /*CAJAS PROYECTO*/
    .cajas-proyectos img{
        width: 280px;
        height: 180px;
    }
     /*Contacto*/
     .cuadro-contacto form{
        width: 400px;
    }
    .datos label{
        font-size: 25px;
    }
    
    .datos input{
        font-size: 18px;
        padding: 8px;
        border-radius: 10px;
        background-color: #071739;
        border: #595757 1px solid;
        color: #fff;
    }
    .datos .tex-area{
        height: 200px;
    }

}
@media (max-width: 855px) {

    .contenido h1{
    font-size: 40px;
    }
    .contenido h2{
        font-size: 25px;
    }
    .saludo .botones a{
        font-size: 25px;
    }
    .marco-edu{
        width: fit-content;
        height: fit-content;
    }
   /*CAJAS PROYECTO*/
   .cajas-proyectos img{
    width: 250px;
    }
    .proyectos{
        margin: 0;
    }
}
@media (max-width: 790px) {
    .contenido{
        display: block;
        margin-top: 60px;
        padding: 2px;
        margin: 5px;
    }
    .contenido{
        width: fit-content;
        height: fit-content;
     }

    .contenido img{
         width: 25rem;
         height: 25rem;
         margin-bottom: 30px;
    }
    .marco{
        display:block ;
    }
    .marco .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .saludo h2 {
        margin-bottom: 30px;
        font-size: 30px;
    }
    .saludo h1 {
        font-size: 60px;
    }
    .saludo .botones{
        margin-bottom: 40px;
    }
    .saludo .botones a{
        font-size: 30px;
    }
    .saludo p,a{
        font-size: 20px;
    }

    .logo img {
        width: 120px;
        display: flex;
        align-items: center;
      }
      .menu nav {
        position: fixed;
        top: 0;
        right: -250px;
        background: hsl(0, 0%, 30%);
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
      }
      .menu ul {
        flex-direction: column;
        margin-top: 40px;
      }
      .menu ul li {
        margin-top: 30px;
        margin-left: 0;
      }
      .menu ul li a {
        color: hsl(0, 0%, 100%);
      }
      .menu nav img {
        display: block;
        width: 80px;
      }
      #mini_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
      }
      .menu #boton_minimenu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.3);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
      }
      .menu #boton_minimenu:hover {
        background: rgba(255, 255, 255, 0.8);
        transition: all 300ms;
      }

      .edu{
        padding: 20px;
      }

      .marco-edu{
        display: block;
        justify-content: space-evenly;
      }
      .mini-edu{
        margin-bottom: 20px;
      }
     /*CAJAS PROYECTO*/
      .proyectos {
        display: flex;
        flex-direction: column;
        padding: 20px;
      }
      /*CAJAS PROYECTO*/
      .cajas-proyectos img{
       width: 400px;
       height: 205px;
       }
       .cajas-proyectos{
        margin-bottom: 20px;
       }
       .area-proyectos h1{
        font-size: 50px;
       }
       .area-proyectos{
        height: fit-content;
       }

       /*Conctato*/
       .contacto{
        display: flex;
        flex-direction: column;
        height: fit-content;
       }
       .info h2{
        margin-bottom: 60px;
       }

    }

@media (max-width: 550px) {
   .saludo .botones{
        display: block;
        justify-content: center;
        padding: auto;
        width: 50%;
    }
    .saludo .botones a{
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        justify-content: center;
        font-size: 20px;
    }
    .contenido{
        width: fit-content;
        height: fit-content;
     }
    .contenido img{
        width: 20rem;
        height: 20rem;
    }
    .saludo h2 {
        font-size: 25px;
    }
    .saludo h1 {
        font-size: 38px;
    }
    .saludo p,a{
        font-size: 18px;
    }
    .marco-edu{   
        width: fit-content;
    }

    .edu h1{
        font-size: 38px;
    }
    .edu  h2{
        font-size: 25px;
    }
    .edu h3{
    font-size: 18px;
    }
    .edu p{
        font-size: 18px;
    }
    /*PROYECTO*/
    .area-proyectos h1{
        font-size: 38px;
       }
}
@media (max-width: 450px) {
    .saludo {
         margin: 0;
         padding:10px;
     }
     .saludo .botones a{
         margin-right: 0;
         margin-bottom: 10px;
         margin-top: 10px;
         font-size: 16px;
         padding: 10px;
     }
     .saludo p,a{
        font-size: 18px;
    }
    .contenido h2{
        font-size: 20px;
     }
     .contenido h1{
        font-size: 30px;
     }
     .contenido{
        width: fit-content;
        height: fit-content;
     }
     .btnc{ 
        font-size: 16px;
        width: fit-content;
    }
    .marco{
        width: fit-content;
        height: fit-content;
    }
    .edu{
        width: fit-content;
        height: fit-content;
    }
    .edu h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .edu  h2{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .edu h3{
        font-size: 16px;
    }
    .edu p{
        font-size: 18px;
    }
      /*CAJAS PROYECTO*/
      .cajas-proyectos img{
       width: 350px;
       height: 180px;
       }
       .area-proyectos h1{
        font-size: 30px;
       }
       /*CONCTACTO*/
     .cuadro-contacto form{
        width: 300px;
    }
    .datos label{
        font-size: 18px;
    }
    
    .datos input{
        font-size: 18px;
        padding: 3px;
        border-radius: 10px;
        background-color: #071739;
        border: #595757 1px solid;
        color: #fff;
    }
    .datos .tex-area{
        height: 120px;
    }


    .redes{
        display: flex;
        justify-content: center;
    }
    .info i{
        font-size: 18px;
    }
    
    .redes i {
        width: 50px;
        height: 50px;
        font-size: 30px;
        margin-right: 15px;
    }
    .info h1{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    .info h2{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .info .diremail {
        display: flex;
        justify-content: center;
    }

     
 }
 @media (max-width: 395px) {

    .contenido img{
        width: 18rem;
        height: 18rem;
        margin-bottom: 10px;
    }
    .contenido{
        width: fit-content;
        height: fit-content;
    }
    .saludo {
         margin: 0;
         padding:10px;
     }
     .saludo .botones a{
         margin-right: 0;
         margin-bottom: 10px;
         margin-top: 10px;
         font-size: 16px;
         padding: 10px;
     }
     .saludo p,a{
        font-size: 15px;
    }
   .edu{
    padding: 20px;
   }
   
      /*CAJAS PROYECTO*/
      .cajas-proyectos img{
       width: 320px;
       height: 160px;
       }
    
 }
 @media (max-width: 350px) {

     .saludo .botones a{
         margin-right: 0;
         margin-bottom: 10px;
         margin-top: 10px;
         font-size: 16px;
         padding: 10px;
     }
     .saludo p,a{
        font-size: 12px;
     
    }
    .saludo h1{
        font-size: 25px;
    }
    .saludo h2 {
        font-size: 16px;
       
    }

     /*CAJAS PROYECTO*/
      .cajas-proyectos img{
       width: 300px;
       height: 140px;
       }
 }