@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --FuentePrincipal: 'Montserrat', sans-serif;
  --BackGroundFondoPrincipal: linear-gradient(95deg, rgba(5, 10, 34, 1) 18%, rgb(6, 7, 48) 90%);
  --DegradeTituloPrincipal: linear-gradient(330deg, rgba(1, 88, 198, 1) 0%, rgba(34, 205, 233, 1) 100%);
  --Blur: blur(50px);
  --ColorOscuro: #0A78D0;
  --ColorBordeImg: rgba(64, 188, 250, 0.397);
  --ColorAzulClaro: rgb(64, 188, 250);
  --ColorBlanco: #FFFFFF;
  --ColorCrema: #ececec;
  --ColorNegro: #1c1c1c;
  --ColorAzulOscuro: rgba(1, 62, 141, 0.904);
  --ColorTransparente: transparent;
  --ColorBoxShadown: #1ca5db 2px 2px 20px 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FuentePrincipal);
}

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.2rem;
  transition: all 1.5s ease;
}

body.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  background-color: var(--ColorCrema);
  transition: background-color 1.5s ease; /* Asegura una transición modo oscuro suave */
}

header .logo,
header .nav-list li a,
header .abrir-menu,
header .cerrar-menu {
  transition: color 1.5s ease; /* Asegura una transición suave para el color del texto */
}

/* -------------- menu --------------- */
.logo {
  max-width: 50px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--ColorAzulOscuro);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* ----------------modo oscuro boton --------------- */
#toggle {
  display: none;
}

.label_toggle {
  position: absolute;
  top: 21px;
  right: 100px;
}

#label_toggle {
  font-size: 25px;
}

.dark {
  background: var(--BackGroundFondoPrincipal);
  color: var(--ColorBlanco);
  transition: all 1.5s ease;
}

.dark header {
  background: var(--BackGroundFondoPrincipal);
}

/*------------ linea bajo el menu de opciones efectos --------------*/

.nav-list a, .dark .nav-list a {
  /*color: #d40202;*/
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.dark .nav-list a {
  color: var(--ColorBlanco);
}

.nav-list a:after, .dark .nav-list a:after{
  content: "";
  position: absolute;
  background-color: var(--ColorAzulClaro);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-list a:hover, .dark .nav-list a:hover{
  color: var(--ColorAzulClaro);
}

.nav-list a:hover:after, .dark .nav-list a:hover:after{
  width: 100%;
}

/*------------ -----------------------------------------------------*/

/* Cuando no está en modo oscuro */
body:not(.dark) .descripcion h2,
body:not(.dark) .descripcion p{
  color: var(--ColorAzulOscuro);
}


/* --------------------SECCION SALUDO--- --------------- */
.saludo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-perfil img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid 2px;
  border-color: var(--ColorBordeImg);
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 700;
}

.descripcion h1 {
  font-size: 70px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 20px;

  background: var(--DegradeTituloPrincipal);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--ColorTransparente);
}

.descripcion h2 {
  text-align: left;
  color: var(--ColorBlanco);
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.descripcion p,a {
  text-align: left;
  color: var(--ColorBlanco);
  font-size: 20px;
  text-decoration: none;
}

.descripcion .botones {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.botones a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 8px;
  width: max-content;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ColorBlanco);
  background-color: var(--ColorAzulClaro);
  border: solid 3px;
  border-color: var(--ColorAzulClaro);
}

.btn-resumen {
  color: var(--ColorAzulClaro);
  border-color: var(--ColorAzulClaro);
  border: solid 3px;
  background-color: var(--ColorTransparente);
  margin-right: 15px;
}

.btn-resumen:hover {
  color: var(--ColorBlanco);
  background-color: var(--ColorAzulClaro);
  box-shadow: var(--ColorBoxShadown);
}

.btn:hover {
  color: var(--ColorAzulClaro);
  background-color: var(--ColorTransparente);
  box-shadow: var(--ColorBoxShadown);
}

/* Estilo para el icono de flecha */
.fa-arrow-right {
  animation: moverFlecha 0.6s linear infinite alternate;   /* Animación infinita y alternante */
  z-index: 900;
}

/* Definición de la animación */
@keyframes moverFlecha {
  0% {
    transform: translateX(0);
    /* Posición inicial */
  }

  100% {
    transform: translateX(10px);
    /* Posición final */
  }
}

.diremail {
  font-weight: 900;
  color: var(--ColorAzulClaro);
}
/* ------------------------------------- --------------- */


.grid-container>* {
  padding: 5px;
  text-align: center;
  font-weight: 500;
}

.grid-container {
  display: grid;
  gap: 2px;
  grid-template:
    "header" 70px
    "saludo" 100vh
    "proyectos" 100vh
    "educacion" 100vh
    "contacto" 100vh;

  .header {
    grid-area: header;
  }

  .saludo {
    grid-area: saludo;
  }

  .proyectos {
    grid-area: proyectos;
    background-color: rgba(187, 93, 241, 0.74);
  }

  .educacion {
    grid-area: educacion;
    background-color: rgba(152, 241, 93, 0.74);
  }

  .contacto {
    grid-area: contacto;
    background-color: rgba(241, 93, 93, 0.74);
  }

  .saludo {
    display: flex;
    justify-content: space-evenly;

    .img-perfil {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;

      padding: 10px;
      grid-area: img;
    }

    .descripcion {
      width: 50%;
      height: 100%;
      padding: 10px;
      grid-area: descripcion;
    }
  }

  .educacion {
    display: flex;
    flex-direction: row;

    .titulos {
      width: 50%;
      height: 100%;
      padding: 10px;
      grid-area: titulos;
      background-color: rgba(93, 241, 150, 0.74);
    }

    .skill {
      width: 50%;
      height: 100%;
      padding: 10px;
      grid-area: skill;
      background-color: rgba(33, 236, 141, 0.74);
    }
  }
}

@media (max-width:1024px) {
  .botones a {
    font-size: 25px;
  }
}

@media (max-width:992px) {}

@media (max-width: 769px) {

  .grid-container {

    grid-template:
      "header" 70px
      "saludo" 100vh
      "educacion" 100vh
      "proyectos" 100vh
      "contacto" 100vh;

    .saludo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .img {
        order: -1;
        width: 100%;
        height: 50%;
      }

      .descripcion {
        order: 1;
        width: 100%;
        height: 50%;
      }
    }

    .educacion {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .titulos {
        width: 100%;
        height: 50%;
      }

      .skill {
        width: 100%;
        height: 50%;
      }
    }
  }

  .saludo {
    min-height: 100%;
    min-width: 100%;
  }

  .descripcion {
    width: 100%;
    height: 100%;
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 3rem;
    background-color: var(--ColorTransparente);
    cursor: pointer;
  }

  .abrir-menu {
    color: var(--DarkHeaderBackground)
  }

  .dark .abrir-menu {
    color: var(--ColorBlanco);
  }

  .cerrar-menu {
    color: var(--ColorBlanco);
  }

  .nav {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ColorNegro);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    opacity: 1;
    z-index: 1000;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: var(--ColorBlanco);
  }

  /*--------------- saludo ---------------------*/
  .img-perfil img {
    height: 300px;
    width: 300px;
  }

  .descripcion h1 {
    font-size: 60px;
  }

  .descripcion h2 {
   font-size: 30px;
   margin: 0;
  }
}

@media (max-width: 550px) {
  .grid-container {
    .saludo {
      justify-content: center;
    }
  }
  /*--------------- saludo ---------------------*/
  .descripcion h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .descripcion h2 {
    font-size: 25px;
  }

  .descripcion .botones {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
    width: 80%;
  }

  .botones a {
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
  }

  .btn-resumen {
    margin-right: 0;
  }

  .img-perfil {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  /*--------------- saludo ---------------------*/
  .img-perfil {
    margin-bottom: 20px;
  }
  
  .img-perfil img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 375px) {

  /*--------------- saludo ---------------------*/
  .descripcion h1 {
    font-size: 35px;
  }

  .descripcion h2 {
    font-size: 25px;
  }

  .botones a {
    padding: 15px;
  }
}

@media (max-width: 320px) {
  /*--------------- saludo ---------------------*/
  .img-perfil img {
    height: 200px;
    width: 200px;
  }
}