@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --FuentePrincipal: 'Montserrat', sans-serif;
  --BackGroundFondoPrincipal: linear-gradient(95deg, rgba(5, 10, 34, 1) 18%, rgb(6, 7, 48) 90%);
  --DegradeTituloPrincipal: linear-gradient(330deg, rgba(1, 88, 198, 1) 0%, rgba(34, 205, 233, 1) 100%);
  --Blur: blur(50px);
  --ColorOscuro: #0A78D0;
  --ColorBordeImg: rgba(64, 188, 250, 0.397);
  --ColorAzulClaro: rgb(64, 188, 250);
  --ColorBlanco: #FFFFFF;
  --ColorCrema: #ececec;
  --ColorTextoHumo: #a0a0a0;
  --ColorNegro: #1c1c1c;
  --ColorNegroPuro: #000000;
  --ColorNegroModal: rgba(0, 0, 0, 0.9);
  --ColorNegroCard: #1c1b29;
  --ColorAzulOscuro: rgba(1, 62, 141, 0.904);

  --ColorTransparente: transparent;
  --ColorBoxShadown: #1ca5db 2px 2px 20px 1px;
  --ColorBoxShadownNegro: 0 0 30px rgba(0, 0, 0, 0.18);


  --url-image: url(https://images.unsplash.com/photo-1616699991366-2e3075672f7e?q=80&w=2126&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  --Colums: repeat(3, 1fr);
  --rows: 1fr;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FuentePrincipal);
}

main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.2rem;
  transition: all 1.5s ease;
}


body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar-thumb{
  background-color: var(--ColorAzulClaro);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: var(--ColorOscuro);
}


/* -------------------persolaniacion barra scroll ----------------------*/
body::-webkit-scrollbar{
  width: 15px;
}

body::-webkit-scrollbar-track{
  background: var(--BackGroundFondoPrincipal);
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--ColorCrema);
  transition: background-color 1.5s ease;
  /* Asegura una transición modo oscuro suave */
}

header .logo,
header .nav-list li a,
header .abrir-menu,
header .cerrar-menu {
  transition: color 1.5s ease;
  /* Asegura una transición suave para el color del texto */
}

.grid-container>* {
  padding: 5px;
  text-align: center;
  font-weight: 500;
}

.grid-container {
  display: grid;
  gap: 2px;
  grid-template:
    "header" 70px
    "saludo" 100vh
    "proyectos" max-content
    "educacion" auto
    "contacto" 100vh;

  .saludo {
    display: flex;
    justify-content: center;

    .img-perfil {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;

      padding: 10px;
      margin-left: 10px;
      grid-area: img;


      .image-container .image {
        border-radius: 8px;
        box-shadow: var(--ColorBoxShadownNegro);

        height: 250px;
        width: 350px;
        overflow: hidden;
        cursor: pointer;
      }
    }

    .descripcion {
      width: 50%;
      height: 100%;
      padding: 10px;
      grid-area: descripcion;


      .descripcion .modal-resumen img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .2s linear;
      }

      /*------------- iconos redes ---------------*/

      .redes {
        display: flex;
        padding: 5px 0px;
        margin-top: 10px;
      }

      .redes i {
        border-radius: 50%;
       
        background-color: var(--ColorAzulClaro);
        width: 50px;
        height: 50px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }

      .redes i:hover {
        color: var(--ColorAzulClaro);
        background-color: var(--ColorTransparente);
        transform: all 2ms;
      }

      /* ----------- MODAL DIPLOMAS ----------------- */

      .modal-resumen {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--ColorNegroModal);
        height: 100%;
        width: 100%;
        z-index: 1000;
        display: none;
      }

      .modal-resumen span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 60px;
        font-weight: 400;
        color: var(--ColorTextoHumo);
        cursor: pointer;
        z-index: 1000;
      }

      .modal-resumen img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        /* Evita que la imagen sea más ancha que el 90% del modal */
        max-height: 90%;
        /* Evita que la imagen sea más alta que el 90% del modal */
        border: 5px solid var(--ColorBlanco);
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }

  .proyectos {
    display: grid;
    place-items: center center;
    min-height: 100vh;

    

    .cards {
     display: grid;
     
      grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
      padding: 20px;
      grid-gap: 40px;
      grid-auto-rows: minmax(360px, auto); /* Añade esta línea */
    }

    .card {
      background-color: var(--ColorNegroCard);
      border-radius: 20px;
      box-shadow: var(--ColorBoxShadownNegro);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    
      max-height: 570px; /* Altura máxima */
      transition: 0.5s ease;
      cursor: pointer;
    }

    .card:hover {
      transform: scale(1.05);
      /*box-shadow: var(--ColorBoxShadown);*/
    }

    .card__container {
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      height: 100%;
      overflow: hidden;
    }

    .card img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover; /* Esto asegura que la imagen se ajuste al contenedor sin distorsionarse */
      border-radius: 20px 20px 0 0;
    }


    .details {
      padding: 5px 10px;
    }

    .details>h3 {
      color: var(--ColorBlanco);
      font-weight: 600;
      font-size: 30px;
     
    }

    .details>p {
      color: var(--ColorTextoHumo);
      font-size: 15px;
      line-height: 30px;
      font-weight: 400;
    }

    .details .botones {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 5px 0;
      max-height: 40px;
    }

    .details .botones a {
      padding: 2px 20px;
      width: max-content;
    }

    .details .botones i {
      margin-left: 10px;
      width: max-content;
    }

    .iconos-proyecto {
      margin-top: 10px;
      font-size: 30px;
    }

    /* Estilos para la modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: var(--ColorNegroModal);
    }

    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* Centra vertical y horizontalmente */
      background-color: var(--ColorNegroPuro);
      padding: 25px 5px;
      border-radius: 15px;
      width: 80%;
      max-width: 800px;
      box-shadow: var(--ColorBoxShadownNegro);
      box-sizing: border-box;
      /* Incluye padding en el cálculo del ancho */
      position: relative;
      /* Necesario para el posicionamiento del botón de cierre */
    }

    .close1 {
      color: var(--ColorTextoHumo);
      float: right;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      bottom: 0.2px;
      left: 50%;
      transform: translateX(-50%);
      /* Centra horizontalmente */
    }

    .close:hover,
    .close:focus {
      color: var(--ColorNegroPuro);
      text-decoration: none;
    }

    iframe {
      width: 100%;
      height: 100vw;
      /* Para que sea responsivo */
      max-height: 700px;
      /* Altura máxima */
    }

  }

  .educacion {
    display: flex;
    flex-direction: row;

    .titulos {
      width: 50%;
      height: 100%;
      padding: 10px;
      grid-area: titulos;
      display: flex;
      flex-direction: column;
      align-items: center;

      .etiquetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .etiqueta {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }

      .etiqueta h2 {
        margin-bottom: 15px;
        font-size: 25px;
      }

      .etiqueta h3 {
        margin-bottom: 15px;
        font-size: 20px;
      }

      .etiqueta h2 {
        color: var(--ColorAzulClaro);
      }



      .image-container .image {
        border-radius: 8px;
        box-shadow: var(--ColorBoxShadownNegro);

        height: 250px;
        width: 350px;
        overflow: hidden;
        cursor: pointer;
      }

      .image-container .image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: .2s linear;
      }

      .image-container .image:hover img {
        transform: scale(1.1);
      }


      /* ----------- MODAL DIPLOMAS ----------------- */

      .image-container .modal-image {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
      }

      .image-container .modal-image span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 60px;
        font-weight: 400;
        color: var(--ColorTextoHumo);
        cursor: pointer;
        z-index: 100;
      }

      .image-container .modal-image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        border-radius: 5px;
        width: 40%;
        object-fit: cover;
      }

    }

    .skill {
      width: 100%;
      height: 100%;
      padding: 10px;
      grid-area: skill;
      display: flex;
      flex-direction: column;
      align-items: center;


      .etiquetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /*grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr));*/
        min-height: 100vh;
      }

      .eti {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas de igual tamaño */
        gap: 10px;
        /* Espacio entre las columnas y filas */
        padding: 20px;
        width: 100%;
      }

      .eti-item {
        background-color: var(--ColorNegroCard);
        border-radius: 20px;
        box-shadow: var(--ColorBoxShadownNegro);
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Centra el contenido verticalmente */
        align-items: center;
        /* Centra el contenido horizontalmente */
        padding: 10px;
      }

      .etiqueta {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 20px;
      }

      .eti img {
        width: 50px;
        margin-bottom: 10px;
      }

      .eti h3 {
        font-size: 10px;
      }
    }
  }

  .contacto {
    /*CONCTACTO*/
    display: flex;
    justify-content: center;
    align-items: center;


    .grupo-conctacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .grupo-conctacto h1 {
      font-size: 70px;
      font-weight: 900;
      margin-bottom: 10px;
    }

    .grupo-conctacto h2 {
      font-size: 35px;
      margin-bottom: 10px;
    }

    .redes {
      display: flex;
      padding: 5px;
      margin: 30px 0;
    
    }

    .info i {
      font-size: 25px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .redes i {
      border-radius: 50%;
      color: #fff;
      background-color: rgb(64, 188, 250);
      width: 70px;
      height: 70px;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }

    .redes i:hover {
      color: var(--ColorAzulClaro);
      background-color: var(--ColorTransparente);
      transform: all 2ms;
    }


  }
}

/* -------------- menu --------------- */
.logo {
  max-width: 50px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--ColorAzulOscuro);
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* ----------------modo oscuro boton --------------- */
#toggle {
  display: none;
}

.label_toggle {
  position: absolute;
  top: 21px;
  right: 100px;
}

#label_toggle {
  font-size: 25px;
}

.dark {
  background: var(--BackGroundFondoPrincipal);
  color: var(--ColorBlanco);
  transition: all 1.5s ease;
}

.dark header {
  background: var(--BackGroundFondoPrincipal);
}

/*------------ linea bajo el menu de opciones efectos --------------*/

.nav-list a,
.dark .nav-list a {
  /*color: #d40202;*/
  position: relative;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.dark .nav-list a {
  color: var(--ColorBlanco);
}

.nav-list a:after,
.dark .nav-list a:after {
  content: "";
  position: absolute;
  background-color: var(--ColorAzulClaro);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-list a:hover,
.dark .nav-list a:hover {
  color: var(--ColorAzulClaro);
}

.nav-list a:hover:after,
.dark .nav-list a:hover:after {
  width: 100%;
}

/*------------ -----------------------------------------------------*/

/* Cuando no está en modo oscuro */
body:not(.dark) .descripcion h2,
body:not(.dark) .descripcion p,
body:not(.dark) .grupo-conctacto h1,
body:not(.dark) .grupo-conctacto h2   {
  color: var(--ColorAzulOscuro);
}

/* Cuando no está en modo oscuro */
body:not(.dark) .proyectos .card {
  background-color: var(--ColorTransparente);
  box-shadow: var(--ColorBoxShadownNegro);
}

body:not(.dark) .educacion .titulos .eti-item {
  background-color: var(--ColorTransparente);
  box-shadow: var(--ColorBoxShadownNegro);
}

body:not(.dark) .educacion .eti .eti-item {
  background-color: var(--ColorTransparente);
  box-shadow: var(--ColorBoxShadownNegro);
}

body:not(.dark) .educacion .etiqueta h2,
body:not(.dark) .educacion .etiqueta h3 {
  color: var(--ColorAzulOscuro);
}

/* Cuando no está en modo oscuro */
body:not(.dark) .proyectos .card h3 {
  color: var(--ColorAzulOscuro);
}

body:not(.dark) .proyectos .card .iconos-proyecto {
  color: var(--ColorAzulOscuro);
}




/* --------------------SECCION SALUDO--- --------------- */
.saludo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-perfil img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: solid 2px;
  border-color: var(--ColorBordeImg);
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 700;
}

.descripcion h1 {
  font-size: 70px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 20px;

  background: var(--DegradeTituloPrincipal);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--ColorTransparente);
}

.descripcion h2 {
  text-align: left;
  color: var(--ColorBlanco);
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.descripcion p,
a {
  text-align: left;
  color: var(--ColorBlanco);
  font-size: 20px;
  text-decoration: none;
}

.descripcion .botones {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.botones a {
  display: flex;
  justify-content: center;
  align-items: center;


  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 20px;
  border-radius: 8px;
  width: max-content;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ColorBlanco);
  background-color: var(--ColorAzulClaro);
  border: solid 3px;
  border-color: var(--ColorAzulClaro);
  align-items: center;
  justify-content: space-between;
}

 .btn  span {
   margin-left: 10px; 
}

.btn .material-symbols-outlined {
    font-size: 30px; /* Cambia a cualquier tamaño que necesites */
    vertical-align: middle; /* Opcional: para alinear con el texto */
    margin-left: 8px; /* Espacio entre el texto y el icono */
}

.btn-resumen {
  color: var(--ColorAzulClaro);
  border-color: var(--ColorAzulClaro);
  border: solid 3px;
  background-color: var(--ColorTransparente);
  margin-right: 15px;
  cursor: pointer;
}

.btn-resumen:hover {
  color: var(--ColorBlanco);
  background-color: var(--ColorAzulClaro);
  box-shadow: var(--ColorBoxShadown);
}

.btn:hover {
  color: var(--ColorAzulClaro);
  background-color: var(--ColorTransparente);
  box-shadow: var(--ColorBoxShadown);
}


/* Estilo para el icono de flecha */
.fa-arrow-right {
  animation: moverFlecha 0.6s linear infinite alternate;
  /* Animación infinita y alternante */
  z-index: 900;
}

/* Definición de la animación */
@keyframes moverFlecha {
  0% {
    transform: translateX(0);
    /* Posición inicial */
  }

  100% {
    transform: translateX(10px);
    /* Posición final */
  }
}


/* ---------------------PROYECTOS------ --------------- */
@media (max-width:1024px) {

  .grid-container {

    grid-template:
      "header" 70px
      "saludo" 100vh
      "proyectos" auto
      "educacion" auto
      "contacto" 100vh;
  }


  .botones a {
    font-size: 25px;
  }
}

@media (max-width:992px) {}

@media (max-width: 769px) {

  .grid-container {

    grid-template:
      "header" 70px
      "saludo" 100vh
      "proyectos" auto
      "educacion" auto
      "contacto" 100vh;

    .saludo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .img-perfil {
        margin-left: 0;
      }

      .img {
        order: -1;
        width: 100%;
        height: auto;
      }

      .descripcion {
        order: 1;
        width: 100%;
        height: auto;
      }
    }

    .educacion {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .titulos {
        width: 100%;
        height: fit-content;

        .descripcion {
          height: fit-content;
          align-items: center;
        }

        .image-container .modal-image img {
          width: 70%;
        }

      }

      .skill {
        width: 100%;
        height: max-content;


        .descripcion {
          height: fit-content;
          align-items: center;
        }
      }
    }
  }

  .saludo {
    min-height: 100%;
    min-width: 100%;
  }

  .descripcion {
    width: 100%;
    height: 100%;
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 3rem;
    background-color: var(--ColorTransparente);
    cursor: pointer;
  }

  .abrir-menu {
    color: var(--DarkHeaderBackground)
  }

  .dark .abrir-menu {
    color: var(--ColorBlanco);
  }

  .cerrar-menu {
    color: var(--ColorBlanco);
  }

  .nav {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ColorNegro);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    opacity: 1;
    z-index: 1000;
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: var(--ColorBlanco);
  }

  /*--------------- saludo ---------------------*/
  .img-perfil img {
    height: 300px;
    width: 300px;
  }

  .descripcion h1 {
    font-size: 60px;
  }

  .descripcion h2 {
    font-size: 30px;
    margin: 0;
  }

  /*------------------ proyectos------------------*/

  .proyectos .descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

@media (max-width: 550px) {
  .grid-container {

    grid-template:
      "header" 70px
      "saludo" 120vh
      "proyectos" auto
      "educacion" auto
      "contacto" 120vh;

    .saludo {
      justify-content: center;

      /*--------------- saludo ---------------------*/

      .descripcion h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }

      .descripcion h2 {
        font-size: 25px;
      }

      .descripcion .botones {
        display: flex;
        flex-direction: column;

        margin-bottom: 30px;
        width: 80%;
      }

      .botones a {
        margin-bottom: 10px;
        width: 100%;
        font-size: 20px;
      }

      .btn-resumen {
        margin-right: 0;
      }

      .img-perfil {
        margin-bottom: 20px;
      }

      .details .btn-resumen {
        margin-right: 15px;
        margin-bottom: 0;
      }

      .details .btn {
        margin-bottom: 0;
      }
    }

    .educacion {
      .skill {

        .etiquetas {
          grid-template-columns: repeat(1, 1fr);
        }

      }
    }
  }

}

@media (max-width: 425px) {

  .grid-container {

    grid-template:
      "header" 70px
      "saludo" 100vh
      "proyectos" auto
      "educacion" auto
      "contacto" 100vh;
  }

  /*--------------- saludo ---------------------*/
  .img-perfil {
    margin-bottom: 20px;
  }

  .img-perfil img {
    height: 250px;
    width: 250px;
  }

}

@media (max-width: 375px) {

  /*--------------- saludo ---------------------*/
  .descripcion h1 {
    font-size: 35px;
  }

  .descripcion h2 {
    font-size: 25px;
  }

  .botones a {
    padding: 15px;
  }
}

@media (max-width: 320px) {

  /*--------------- saludo ---------------------*/
  .img-perfil img {
    height: 200px;
    width: 200px;
  }
}